label {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

select {
    outline: unset;
    border: unset;
    background-color: #F4F4F4;
    border-radius: 8px;
    padding: 12px;
    font-size: 1.25rem;
}

.SelectForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}