* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #F4F4F4;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content {
  overflow-y: auto;
  width: 100%;
  padding: 26px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
}

.swiper-pagination-bullet-active {
  background-color: #e95555 !important;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
    overflow-x: hidden;
  }
}

.checkedStyle .content {
  display: none;
}