.slides {
        width: 100%;
        cursor: pointer;

        .slideItem {
            width: 90%;
            height: auto; /* Ajusta a altura automaticamente para manter a proporção */
            max-width: 1920px; /* Define o limite máximo da largura */
            max-height: 1080px; /* Define o limite máximo da altura */
            object-fit: cover; /* Garante que a imagem cobre todo o contêiner sem distorção */
            aspect-ratio: 16/9; /* Define a proporção 16:9 */
            border-radius: 8px;
          }
}

.activeSlide img {
    cursor: pointer; /* Aplica o cursor pointer no slide central */
}

.slideItem:not(.activeSlide) img {
    cursor: grab; /* Aplica o cursor de mão para os slides laterais */
}