.formArea {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 24px 0 hsla(0, 0%, 0%, 0.10),
    0 2px 8px 0 hsla(0, 0%, 0%, 0.15);
    display: flex;
    flex-direction: column;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 12px;
}